@model EnvanterYonetimi.Models.Entity.cihazDetay

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml"; }

@* Navbar Menü Alanı *@
<div class="header collapse d-lg-flex p-0" id="menu">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row ">
                    <li class="nav-item">
                        <a href="/Main" class="nav-link"> <i class="fe fe-home"> </i> Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"> <i class="fe fe-box"> </i> Depo İşlemleri</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="/UrunKaydi" class="dropdown-item "> Ürün Kaydı</a>
                            <a href="/ArizaBildirimi" class="dropdown-item "> Arıza Bildirimi</a>
                            <a href="/BagisYap" class="dropdown-item "> Bağış Yap</a>
                            <a href="/IstenCikma" class="dropdown-item "> İşten Çıkma</a>
                            <a href="/PozisyonDegisikligi" class="dropdown-item "> Pozisyon Değişikliği</a>
                            <a href="/AmortismanBildirimi" class="dropdown-item "> Amortisman Bildirimi</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" id="menuActive" data-toggle="dropdown"> <i class="fe fe-calendar"> </i> Saha İşlemleri</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="/KullaniciyaUrunAtama" class="dropdown-item active"> Kullanıcıya Ürün Atama</a>
                            <a href="/UrunKullanicisiDegistir" class="dropdown-item "> Ürün Kullanıcısı Değiştirme</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/SistemKayitlari" class="nav-link"> <i class="fe fe-check-square"> </i> Sistem Kayıtları</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"> <i class="fe fe-file"> </i> Diğer İşlemler</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="/CihazTuruYonetimi" class="dropdown-item "> Cihaz Türü Yönetimi</a>
                            <a href="/ModelYonetimi" class="dropdown-item "> Model Yönetimi</a>
                            <a href="/SirketYonetimi" class="dropdown-item "> Şirket Yönetimi</a>
                            <a href="/LokasyonYonetimi" class="dropdown-item "> Lokasyon Yönetimi</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header" style=" padding-bottom: 10px; margin: 0px 0 20px;">
            <h1 class="page-title" style=" margin-top: -15px;">
                Kullanıcıya Ürün Atama
            </h1>
        </div>

        @*Form alanları boş!*@
        @if (TempData["mesaj"] == "formEmpty")
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                Form alanlarının tümünü doldurun!
            </div>
        }

        @*Kayıt Var!*@
        @if (TempData["mesaj"] == "findRecord")
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                Cihaz Bulundu!
            </div>
        }

        @*Kayıt Başarılı!*@
        @if (TempData["mesaj"] == "successRecord")
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                Kayıt Başarılı!
            </div>
        }

        @*Cihaz kullanılabilir durumda değil! (Arızalı veya Hurda)*@
        @if (TempData["mesaj"] == "deviceNotAvaliable")
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                Cihaz Kullanılabilir Durumda Değil!
            </div>
        }

        @*Kayıt Bulunamadı!*@
        @if (TempData["mesaj"] == "noRecord")
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                Kayıt bulunamadı!
            </div>
        }

        @*Kayıt Başarısız!*@
        @if (TempData["mesaj"] == "errorServer")
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                Kayıt Başarısız!
            </div>
        }

        <div class="" style=" width: auto;">
            <label for="exampleFormControlSelect1" style="margin-left:3px">Cihaz Ara</label>
            <form action="#" id="KullaniciyaUrunAtama" name="KullaniciyaUrunAtama" method="post" class="form-group">
                <div class="row gutters-xs" style="margin-left:1px">

                    <span class="col-auto">
                        @* Arama Alanı *@
                        <input type="text" id="ara" name="searchString" class="form-control" placeholder="Envanter No veya Seri No" style=" width: 270px;">
                    </span>
                    <span class="col-auto">

                        <button type="submit" class="btn btn-secondary" id="buttonsearch" onclick="location.href='@Url.Action("Index", "KullaniciyaUrunAtama")'">
                            <i class="fe fe-search"></i>
                        </button>

                        <button class="btn btn-secondary" type="button" onclick="arama()">
                            <span class="glyphicon glyphicon-copy"></span> Kopyala
                        </button>
                    </span>

                    <span class="col-auto">
                        <button id="dene" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" onclick="yukle()">Depodaki Cihazlar</button>
                    </span>

                </div>
            </form>

            @*Pop up-tablo ekranı*@
            <div id="exampleModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-xl" style="max-width: 70%;" role="document">
                    Pop up-tablo içeriği
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="my-3 my-md-5">
                                <div class="container">
                                    <div class="page-header" style=" padding-bottom: 10px; margin: 0px 0 20px;">
                                        <h1 class="page-title" style=" margin-top: -15px;">
                                            Depodaki Cihazlar
                                        </h1>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">

                                        <label for="exampleFormControlInput1">Kayıt Ara</label>
                                        <input type="text" id="search" name="searchString" class="form-control" placeholder="Cihaz Ara" style=" width: 270px;">


                                    </div>

                                    <div class="col-sm-6 col-lg-4">

                                        <label for="exampleFormControlInput1">Tablo Listele</label>
                                        <!-- Satırları Göster-->
                                        <select class="form-control form-select" name="state" id="maxRows" style=" width: 270px;">
                                            <option value="5000" selected>Hepsini Göster</option>
                                            <option value="5">5 Satır</option>
                                            <option value="10">10 Satır</option>
                                        </select>


                                    </div>
                                    <br /><br />
                                    <div id="table-scroll" class="table-responsive wrapper">

                                        @Html.Partial("~/Views/KullaniciyaUrunAtama/ParitalDepo.cshtml")

                                        <!-- Sayfalama Başlangıcı-->
                                        @* Sayfalama işlemi için aşağıda ki geliştiricinin çalışmasından faydalanılmıştır. *@
                                        <!--  Developed By Yasser Mas -->

                                        <div class='pagination-container'>
                                            <nav>
                                                <ul class="pagination">
                                                    <li data-page="prev">
                                                        <span> < <span class="sr-only">(current)</span></span>
                                                    </li>
                                                    <!--	Here the JS Function Will Add the Rows -->
                                                    <li data-page="next" id="prev">
                                                        <span> > <span class="sr-only">(current)</span></span>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <!-- Sayfalama İşlemi Sonu-->

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-primary accept" data-dismiss="modal">Ürünü Seç</button>
                            <button id="modalBtnClick" type="button" class="btn btn-default" data-dismiss="modal" onclick="temizle()">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />

        <form method="post" class="form-group" action='@Url.Action("kayit", "KullaniciyaUrunAtama")' onsubmit="return validateForm()">
           
            @* Cihaz ve kullanıcı detayları form alanı *@
            <div class="row row-cards row-deck">

                <div class="col-sm-6 col-lg-4">

                    @* Cihaz Kullanıcı Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlInput2"><font color="red">* </font>Kullanıcı Adı</label>
                        @Html.TextBoxFor(m => m.kullaniciAdi, new
                        {
                            Name = "kullaniciAdi",
                            @class = "form-control",
                            id = "kullaniciAdi"
                        })
                    </div>

                    @* Cihaz Envanter Numarası *@
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Envanter Numarası</label>
                        @Html.TextBoxFor(m => m.envNo, new
                        {
                            Name = "envNo",
                            @class = "form-control",
<<<<<<< HEAD
                            id = "envNo",

=======
                            id = "envNo"
>>>>>>> 7c227c0713be66b688f9075539e8798a6d090bb9
                        })
                    </div>

                    @* Cihaz Türü Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Cihaz Türü</label>
                        @Html.TextBoxFor(m => m.cihazTuruID, new
<<<<<<< HEAD
                   {
                       Name = "cihazTuruId",
                       @class = "form-control",
                       id = "cihazTuruId",
                       ReadOnly = "false"
                   })
=======
                        {
                            Name = "cihazTuruId",
                            @class = "form-control",
                            id = "cihazTuruId"
                        })
>>>>>>> 7c227c0713be66b688f9075539e8798a6d090bb9
                    </div>

                    @* Cihaz Modeli Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Cihaz Modeli</label>
                        @Html.TextBoxFor(m => m.cihazModeliId, new
<<<<<<< HEAD
                   {
                       Name = "cihazModeliId",
                       @class = "form-control",
                       id = "cihazModeliId",
                       ReadOnly = "false"
                   })
=======
                        {
                            Name = "cihazModeliId",
                            @class = "form-control",
                            id = "cihazModeliId"
                        })
>>>>>>> 7c227c0713be66b688f9075539e8798a6d090bb9
                    </div>

                    @* Cihaz Durumu Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Cihaz Durumu</label>
                        @Html.TextBoxFor(m => m.durum, new
<<<<<<< HEAD
                   {
                       Name = "durum",
                       @class = "form-control",
                       id = "durum",
                       ReadOnly = "false"
                   })
=======
                        {
                            Name = "durum",
                            @class = "form-control",
                            id = "durum"
                        })
>>>>>>> 7c227c0713be66b688f9075539e8798a6d090bb9
                    </div>


                </div>
                <div class="col-sm-6 col-lg-4">

                    @* Cihaz Kullanıcı Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlInput2"><font color="red">* </font>Kullanıcı Soyadı</label>
                        @Html.TextBoxFor(m => m.kullaniciSoyadi, new
                        {
                            Name = "kullaniciSoyadi",
                            @class = "form-control",
                            id = "kullaniciSoyadi"
                        })
                    </div>

                    @* Şirket Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Şirket Bilgisi</label>
                        @Html.TextBoxFor(m => m.sirketId, new
                        {
                            Name = "sirketId",
                            @class = "form-control",
                            id = "sirketId"
                        })
                    </div>

                    @* Cihaz Seri Numarası *@
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Seri Numarası</label>
                        @Html.TextBoxFor(m => m.seriNo, new
<<<<<<< HEAD
                   {
                       Name = "seriNo",
                       @class = "form-control",
                       id = "seriNo",
                       ReadOnly = "false"

                   })
=======
                        {
                            Name = "seriNo",
                            @class = "form-control",
                            id = "seriNo"

                        })
>>>>>>> 7c227c0713be66b688f9075539e8798a6d090bb9
                    </div>

                    @* Cihaz Garanti Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Garanti Başlangıcı</label>
                        @Html.TextBoxFor(m => m.garantiBas, new
<<<<<<< HEAD
                   {
                       Name = "garantiBas",
                       @class = "form-control",
                       id = "garantiBas",
                       ReadOnly = "false"

                   })
=======
                        {
                            Name = "garantiBas",
                            @class = "form-control",
                            id = "garantiBas"

                        })
>>>>>>> 7c227c0713be66b688f9075539e8798a6d090bb9
                    </div>

                    @* İşlemi Yapan Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">İşlemi Yapan</label>
                        @Html.TextBoxFor(m => m.islemiYapan, new
<<<<<<< HEAD
                   {
                       Name = "islemiYapan",
                       @class = "form-control",
                       id = "islemiYapan",
                       ReadOnly = "false"

                   })
=======
                        {
                            Name = "islemiYapan",
                            @class = "form-control",
                            id = "islemiYapan"

                        })
>>>>>>> 7c227c0713be66b688f9075539e8798a6d090bb9
                    </div>

                </div>
                <div class="col-md-6 col-lg-4">

                    @* Lokasyon Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Lokasyon Bilgisi</label>
                        @Html.TextBoxFor(m => m.lokasyonId, new
<<<<<<< HEAD
                   {
                       Name = "lokasyonId",
                       @class = "form-control",
                       id = "lokasyonId"
                   })
=======
                        {
                            Name = "lokasyonId",
                            @class = "form-control",
                            id = "lokasyonId"
                        })
>>>>>>> 7c227c0713be66b688f9075539e8798a6d090bb9
                    </div>

                    @* Cihaz Açıklama Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"><font color="green">* </font>Açıklama</label>
                        @Html.TextBoxFor(m => m.aciklama, new
                        {
                            Name = "aciklama",
                            @class = "form-control",
                            id = "aciklama"
                        })
                    </div>

                    @* Sıfır/İkinci El Bilgisi *@
                <div class="form-group">
                    <label for="exampleFormControlInput1">Sıfır/İkinci El</label>

                    @{
                        var selectList = new SelectList(
                            new List<SelectListItem>
                            {
                                new SelectListItem {Text = "İkinci El", Value = "IKINCIEL"},
                                new SelectListItem {Text = "Sıfır", Value = "SIFIR"},
                            }, "Value", "Text");
                    }

                    @Html.DropDownListFor(m => m.sifirIkinciEl, selectList, new
<<<<<<< HEAD
               {
                   Name = "sifir_ikinci_el",
                   @class = "form-control",
                   id = "sifirIkinciEl",
                   ReadOnly = "false"
               })

=======
                    {
                        Name = "sifir_ikinci_el",
                        @class = "form-control",
                        id = "sifirIkinciEl"
                    })


                    @*@Html.TextBoxFor(m => m.sifirIkinciEl, new
                    {
                        Name = "sifir_ikinci_el",
                        @class = "form-control",
                        id = "sifirIkinciEl"
                    })*@
>>>>>>> 7c227c0713be66b688f9075539e8798a6d090bb9
                </div>

                    @* İşlem Zamanı Bilgisi *@
                    <div class="form-group">
                        <label for="exampleFormControlInput1">İşlem Zamanı</label>
                        @Html.TextBoxFor(m => m.islemZaman, new
<<<<<<< HEAD
                   {
                       Name = "islemZaman",
                       @class = "form-control",
                       id = "islemZaman",
                       ReadOnly = "false"
                   })
=======
                        {
                            Name = "islemZaman",
                            @class = "form-control",
                            id = "islemZaman"
                        })
>>>>>>> 7c227c0713be66b688f9075539e8798a6d090bb9
                    </div>

                    @*Cihaz Termin Seçimi*@
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Cihaz Geçici mi?</label>
                        <select class="form-control" id="termin2" name="iade">
                            <option disabled hidden>Seçim Yapın.</option>
                            <option value="KALICI">Kalıcı</option>
                            <option value="GECICI">Geçici</option>
                        </select>
                    </div>

                    @* Cihaz Termin Zamanı Seç *@
                    <div class="form-group">
                        <label id="terminLabel" for="exampleFormControlTextarea1" style="display:none;">Cihaz Kullanım Termini</label>
                        @*<input name="termin" class="form-control" id="terminId" placeholder="Termin tarihi seçin!" type="text" style="display:none;" />*@

                        <input placeholder="Tarih Seçin!" name="termin" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="terminId" style="display:none;">

                    </div>
                    <br /><br />
                </div>
               
            </div>

            @* Footer | Kaydet/İptal Button *@
            <div class="card-footer text-right">
                <div class="text-right">
                    <button type="button" class="btn btn-danger btn-lg" style=" margin-right: 30px;" onclick="temizle()">
                        İptal
                    </button>
                    <button type="submit" id="button1" class="btn btn-primary ml-auto btn-lg" action='@Url.Action("kayit", "KullaniciyaUrunAtama")'>Kaydet</button>

                </div>
            </div>
        </form>
    </div>
</div>
